@mixin transition($property, $duration, $easing) {
  -webkit-transition: $property $duration $easing;
     -moz-transition: $property $duration $easing;
      -ms-transition: $property $duration $easing;
          transition: $property $duration $easing;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}