.lab {
  .site-header {
    h2 {
      font-size: 25px;
      padding: 0px
    }
    nav {
      vertical-align: baseline;
    }
  }
  header{
    background-color:rgba(255, 255, 255, 0.7);
  }
}

html,body{
  height:100%;
}